<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Social Media Fake Account Detection</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Social Media Fake Account Detection</h1>

  <table border = 1>
         {% for key, value in data.items() %}
            <tr>
               <th> {{ key }} </th>
               <td> {{ value }} </td>
            </tr>
         {% endfor %}
      </table>

   <br>
   <br>
  

 </div>


</body>
</html>
